<body>
	<header>	
		<div class="container">
			<div class="logo">
	 			<h1>Pokedex</h1>
	 		</div>

	 		<nav>
	 			<ul>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign Up</a></li>
	 				<li><a href="#">About</a></li>
	 			</ul>		
	 		</nav>
		</div>	
	</header>


	<section class="hero">
		<div class="container dark-bg">		
			<h2>Welcome to Pokedex</h2>
			<p>Here you'll be able to create, remove & edit your dream Pokemon dek in one single click</p>
		</div>	
	</section>

 


	<section id="parent">
		<div class="container">
			<div class="child">
				<img src="https://www.pngmart.com/files/2/Pikachu-PNG-Transparent-Image.png" alt="HTML 5 Logo">
				<h3>Pikachu</h3>
				<p>Is yellow with brown stripes on its back, black-tripped ears and electrical pouches on its cheecks, and has a lightning-bolt-shaped tail</p>
			</div>	



			<div class="child">
				<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c1eeb835-3207-496c-939a-9f07173e853e/d5szxef-cb8cd188-4e4a-41a8-9b8d-4b8290db0c60.png/v1/fill/w_848,h_942,strp/eevee_sitting_png_by_proteusiii_d5szxef-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTEzOCIsInBhdGgiOiJcL2ZcL2MxZWViODM1LTMyMDctNDk2Yy05MzlhLTlmMDcxNzNlODUzZVwvZDVzenhlZi1jYjhjZDE4OC00ZTRhLTQxYTgtOWI4ZC00YjgyOTBkYjBjNjAucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.Ek2UPNePPsNS6y4ae-QRkuD4_TDPzZWGn7qsy_4vuHQ" alt="CSS 3 Logo">
				<h3>Eevee</h3>
				<p>Is a mammalian creature with brown fur, a bushy tail that has a cream colored tip, and a furry collar that is also cream-colored</p>
			</div>

			<div class="child">
				<img src="https://i.pinimg.com/originals/f2/95/76/f295769d9bd3c34ffc552e837f5304ae.png" alt="Design Logo">
				<h3>Charizard</h3>
				<p>Its wings can carry him to an altitude of 4,600 feet. It blows out fire at very hight temperatures. It splits fire that is hot enough to melt boulders</p>
			</div>
		</div>	
	</section>


	<footer>
		<section class="newsletter">
			<div class="container">
				<h3>Subscribe to our newsletter</h3>
				<form>
					<input type="email" placeholder="Enter your email">
					<button type="submit" class="btn-style">Subscribe</button>
				</form>	
			</div>	
		</section>

		<p> Pokedex, Copyright &copy; 2023</p>
	</footer>

</body>
